[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow 
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[alias]
  a = add
  b = branch
  ci = commit
  co = checkout
  cob = checkout -b
  cp = cherry-pick
  d = diff
  dt = difftool
  ds = diff --staged
  dts = difftool --staged
  g = grep -n --color -E
  gl = grep -l
  l = log
  ls = log --pretty=oneline
  lg = log --graph --decorate --pretty=oneline --abbrev-commit
  lga = log --graph --decorate --pretty=oneline --abbrev-commit --all
  s = status
  sh = show
  uc = reset --soft HEAD^   # undo commit
  br = branch
  tree = log --graph --oneline --all
 
  pullup = pull upstream master
  pullrup = pull --rebase upstream master
  pruneu = fetch upstream -p
 
  com = checkout master
  pullm = pull origin master
  pullrom = pull --rebase origin master
  pushm = push origin master
  pruneo = fetch origin -p
[user]
	name = Evan Ye
	email = applepie31415@gmail.com
[push]
	default = current
